body {
    background-color: #ececec;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: ('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
}


main {
    z-index: 2;
    gap: 30px;
    margin-top: 50px ;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    min-width: 940px;
    height: 1000vh;
}
/* @media only screen and (max-width: 1920px) {
    body {
        background-color: brown !important;
    }
    .sub-main {
        display: flex !important;
        flex-direction: column !important;
        aspect-ratio: none;
    }
    
} */

@media only screen and (max-width: 1220px) {
    .circle-2 {
        display: none !important;
    }
}
.circle-1 {
    position: absolute;
    width: auto;
    height: 500px;
    aspect-ratio: 1/1;
    transform: translate(-20%, 52%);
    z-index: 1;
    border-radius: 100%;
    opacity: 15%;
    background-color: rgb(11, 71, 182);
}

.circle-2 {
    position: absolute;
    width: auto;
    height: 75%;
    aspect-ratio: 1/1;
    transform: translate(170%, -50%);
    z-index: 2;
    border-radius: 100%;
    opacity: 15%;
    background-color: rgb(11, 71, 182);
}
main .banner {
    width: 100%;
    height: 320px !important;
    border-radius: 30px;
    box-shadow: 2px 14px 18px rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    justify-content: center;
}

main .banner .container {
    background: rgb(29, 102, 238);
    background: linear-gradient(180deg, rgb(73, 127, 255) 0%, rgb(10, 147, 174) 100%); 
    min-width: 932px;
    max-width: 1080px;
    width: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 70% 30%;
    filter: blur(2px);
    transition: 0.4s;
}

main .banner .container:hover {
    filter: blur(0px);
}

.container .sub-con-1 {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.container .sub-con-2 {
    height: 100%;
}

.container .sub-con-2 .image {
    height: 110%;
    width: 100%;
    transform: translate(0%, -19%);
}

.container .sub-con-2 .image img {
    height: inherit;
    max-width: 250px;
    min-width: 250px;
    transition: 0.5s;
}




.sub-con-1 .text {
    display: flex;
    color: white;
    z-index: 2;
    margin-left: 105px;
    font-size: 23px;
    flex-direction: column;
}



/* main .sub-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 360px;
    
} */

main .sub-main .sub {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* main .sub-main .sub .sub-1{
    aspect-ratio: 1/1
} */





