.nav-container {
    box-shadow: 2px 14px 18px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    height: 3rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.nav-container .nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 20px ;
    color: black;
}


.nav-container .nav .text {
    width: 5rem;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10000px;
    text-align: center;
}
.nav-container .nav .text:hover {

    cursor: pointer;
    color: white;
}

.nav-container .nav .text:active {
    transform: scale(0.9)
}



