body {
    color: red !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main {
    margin-top: 50px ;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75vw;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: brown !important;
    }
    .sub-main {
        display: flex !important;
        flex-direction: column !important;
    }
    
}

@media only screen and (max-width: 1220px) {
    .circle-2 {
        display: none !important;
    }
}
.circle-1 {
    position: absolute;
    width: auto;
    height: 500px;
    aspect-ratio: 1/1;
    transform: translate(-20%, 52%);
    z-index: 1;
    border-radius: 100%;
    opacity: 50%;
    background-color: rgb(11, 71, 182);
}

.circle-2 {
    position: absolute;
    width: auto;
    height: 75%;
    aspect-ratio: 1/1;
    transform: translate(170%, -50%);
    z-index: 2;
    border-radius: 100%;
    opacity: 50%;
    background-color: rgb(11, 71, 182);
}
main .banner {
    width: 100%;
    min-width: 835px;
    height: 320px !important;
    border-radius: 30px;
    color: black;
}

main .banner .container {
    background: rgb(49,38,246);
    background: linear-gradient(180deg, rgb(70, 60, 255) 0%, rgb(10, 147, 174) 100%); 
    width: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 70% 30%;
    /* overflow: hidden; */
}

.container .sub-con-1 {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.container .sub-con-2 {
    height: 100%;
}

.container .sub-con-2 .image {
    height: 110%;
    width: 100%;
    transform: translate(0%, -19%);
}

.container .sub-con-2 .image img {
    height: inherit;
    max-width: 250px;
    min-width: 250px;
}


.sub-con-1 .text {
    display: flex;
    color: white;
    z-index: 2;
    margin-left: 105px;
    font-size: 23px;
    flex-direction: column;
}

h3 {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    text-align: center;
}   

main .sub-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 45vh;
}

main .sub-main .sub {
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
