@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #1c1c1c;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 22px;
  font-family: Ubuntu;
}
.navbar a:hover {
  color: #00bcd4;
}
.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navbar .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar .dropdown-content a:hover {
  background-color: #575757;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-right: auto;
  font-family: Concert One;
}

.search-container {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  gap: 24px;
  cursor: pointer;
  transition: width 500ms cubic-bezier(0.68, -0.55, 0.8, 1.55);
  overflow: hidden;
}
.search-container.active {
  width: 450px;
  justify-content: flex-start;
  cursor: default;
}
.search-container i {
  font-size: 22px;
}
input {
  display: none;
  outline: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
}
i.fa-times {
  display: none;
  margin-left: auto;
  cursor: pointer;
}
.search-container.active > :is(i, input) {
  display: block;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
